body{
    margin: 0px;
    background-color: #CDE8E5;
    font-family: Century Gothic;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

div.wrapper{
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-top: 10px solid gold;
    border-bottom: 10px solid gold;
}
div.header{
    padding: 20px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #3C5B6F;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

div.left-side-bar{
    width: 190px;
    float: left;
    border: 1px solid black;
    min-height: 50px;
    margin: 10px 10px 10px 0px;
}

div.left-side-bar h2{
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

div.left-side-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.left-side-bar ul li{
    margin: 0;
    text-align: center;
    border-bottom: 1px solid white;
}

div.left-side-bar ul li a{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 0px;
    font-weight: bold;
    background-color: #3C5B6F;
    color: white;
}

div.content{
    float: left;
    width: 400px;
    min-height: 500px;
    margin: 10px;
}

div.content h1{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #3C5B6F;
    font-size: 30px;
    border-bottom: 1px dotted black;
}


div.right-side-bar{
    width: 170px;
    float: right;
    margin: 10px 0px 10px 10px;
    border: 1px solid black;
    min-height: 50px;
}

div.right-side-bar ul{
    margin: 0;
    padding: 20px;
}

div.right-side-bar ul li{
    list-style-type: none;
}

div.right-side-bar ul li img{
    width: 100%;
}

div.footer{
    clear: both;
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}

div.footer p{
    font-weight: bold;
}

div.footer img{
    margin: 0;
    padding: 0;
}


/*Contacts*/
form{
    border: 1px solid black;
    background-color: #9A031E;
    color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

form input{
    margin-top: 5px;
    padding: 10px;
    font-family: Arial;
    border-radius: 10px;
}

form button{
    border-radius: 8px;
    padding: 8px 10px;
    background-color: white;
    color: black;

}